[2021-02-09 12:12] uo269412 opened #6 "1. Introduction and Goals"
"Short description of the requirements, driving forces, extract (or abstract) of requirements. Top three (max five) quality goals for the architecture which have highest priority for the major stakeholders. A table of important stakeholders with their expectation regarding architecture."

We are going to write an explanation about the system, specifying the requirements and the goals that have the

[2021-02-09 12:15] uo269412 opened #7 "2. Constraints"
"Anything that constrains teams in design and implementation decisions or decision about related processes. Can sometimes go beyond individual systems and are valid for whole organizations and companies."

Specifications about the constraints and decisions taken regarding to the assignment. This will affect the freedom of design and will structure the development process.

[2021-02-09 12:19] uo269412 opened #8 "3. Context and Scope"
"Delimits your system from its (external) communication partners (neighboring systems and users). Specifies the external interfaces. Shown from a business/domain perspective (always) or a technical perspective (optional)"

It will specify the way the system will be delimited from the communication partners, differentiating business context from technical context.

[2021-02-09 12:24] uo269412 opened #9 "SOLID research"
This issue will cover the different and interesting information we might find by researching the SOLID principal design.

[2021-02-09 12:26] albertodb99 commented on #9
Udemy tutorial (very interesting, but has to be paid):
https://www.udemy.com/course/solid-software-architecture-complete-guide-with-c-examples/

[2021-02-09 15:19] DaniBAIG7 commented on #9
Some information about Solid can be found at https://solidproject.org/about
For developers, there's also a begginers tutorial available in their webpage: https://solidproject.org/developers/tutorials/getting-started

[2021-02-10 10:09] DaniBAIG7 opened #10 "PlantUML research"
_This issue is intended to be kind of a glossary for PlantUML commands and concepts_
For creating the attached diagram
![image](https://user-images.githubusercontent.com/60442791/107495487-6fcb7700-6b90-11eb-85d7-3765469c5735.png)
I used the following code:
`:User: --> [User's Pod]: interacts
[User's Pod] - [Main App]: exchange information`

- :<name>: is used to create Actors.
- [<name>] is used

[2021-02-10 15:18] uo269412 opened #11 "Adoc format research"
In this issue we will leave different information about the adoc format, to make it easier to understand and faster to find.

[2021-02-10 15:42] DaniBAIG7 commented on #11
I found yesterday some commands that should be useful when working with .adoc, yet they don't seem to work when generated.
- "==" Seems to classify the different headings (similar to tags h1, h2... hN in HTML) depending on the number of "=" signs
-  "*" Seems to be the indicator of the different elements inside a list (like tag li)
-  "_" Can be useful to alter text. It can be used to make section

[2021-02-10 15:44] uo269412 commented on #11
_This is just a quick and small document to consult what might be the things that we will use the most_

### Paragraphs

To write paragraphs, no specific notation is needed. Although if we want  to make a paragraph larger, we can use [.lead] prior to writing the line. This will make that paragraph have a bigger font.

### Text format

- **Bold:** In order to make the font bold in a specific part o

[2021-02-10 15:50] UO266499 commented on #11
In case you prefer seeing the syntax used with examples, this is a very in depth tutorial with both the code and the result. It is a little long, but also includes tips and tricks when working with this format.
Video: https://www.youtube.com/watch?v=KbmpBZO4EoY.

[2021-02-10 17:29] ghost opened #13 "Branches & Pull requests"
We have been discussing about how to develop the documentation, including the structure of the **branches** and their associated **pull requests** between them.

Our best option is to create two types of branches:

- One for each of the 12 parts that compose the entire documentation.
- And another one for each one of the collaborators in this repository.

As at this moment 2 people have been assig

[2021-02-10 17:35] uo269412 commented on #13
This is perfect! Thank you very much! Having this around will help avoiding possible errors if we miss a step

[2021-02-10 17:49] ghost commented on #7
I would like to drop here one thing the theory teacher, Jose Labra, told us in today's class, and it is that we have to be careful when looking at documentations of previous year, in which _React_ is set as a constraint, but it **is not** when dealing with our assignment. However, for example _Solid_ **is** a constraint we must keep in mind.

[2021-02-11 12:33] luisfesu commented on #9
useful Tim Berners-Lee  presentation about SOLID demostration: https://www.youtube.com/watch?v=gZB6d-4klmU

[2021-02-11 18:27] uo269412 commented on #6
### _Regarding 1.1_

It is specified to use tabular form, and we had doubts about such specific format. We decided to leave the 1.1 as it was implemented, but a table version is kept just in case we need to change it to such format.

****

.High level requirements
|===
|Functional requirements |Implementation requirements

|To store, manage and visualize locations among other administration option

[2021-02-16 11:44] DaniBAIG7 opened #20 "Problem with dependency on section 3 diagram"
The PlantUML diagram used in Section 3 is giving some problem in Heroku, although it seems to work locally.

[2021-02-16 11:46] UO266499 opened #21 "4. Solution Strategy"
A short summary and explanation of the fundamental decisions and solution strategies, that shape the system’s architecture. These include

    - technology decisions
    - decisions about the top-level decomposition of the system, e.g. usage of an architectural pattern or design pattern
    - decisions on how to achieve key quality goals
    - relevant organizational decisions, e.g. selecting a de

[2021-02-16 11:50] UO266499 opened #22 "5. Building Block View"
The building block view shows the static decomposition of the system into building blocks (modules, components, subsystems, classes, interfaces, packages, libraries, frameworks, layers, partitions, tiers, functions, macros, operations, datas structures, …​) as well as their dependencies (relationships, associations, …​)

This view is mandatory for every architecture documentation. In analogy to a

[2021-02-16 11:51] UO266499 opened #23 "6. Runtime View"
The runtime view describes concrete behavior and interactions of the system’s building blocks in form of scenarios from the following areas:

    - important use cases or features: how do building blocks execute them?
    - interactions at critical external interfaces: how do building blocks cooperate with users and neighboring systems?
    - operation and administration: launch, start-up, stop

[2021-02-16 11:54] UO266499 opened #24 "7. Deployment View"
The deployment view describes:

    the technical infrastructure used to execute your system, with infrastructure elements like geographical locations, environments, computers, processors, channels and net topologies as well as other infrastructure elements and

    the mapping of (software) building blocks to that infrastructure elements.

Often systems are executed in different environments, e.g

[2021-02-16 11:54] DaniBAIG7 commented on #20
The diagram seems to be using something that wasn't initially added in Heroku. Something that might solve it is adding the command `RUN apt install graphviz` to the docker file, since installing that package locally seems to make it work.

[2021-02-16 11:55] UO266499 opened #25 "8. Cross-cutting Concepts"
This section describes overall, principal regulations and solution ideas that are relevant in multiple parts (= cross-cutting) of your system. Such concepts are often related to multiple building blocks. They can include many different topics, such as

    -domain models
    -architecture patterns or design patterns
    -rules for using specific technology
    -principal, often technical decisions

[2021-02-16 11:55] UO266499 opened #26 "9. Design Decisions"
Important, expensive, large scale or risky architecture decisions including rationals. With "decisions" we mean selecting one alternative based on given criteria.

Please use your judgement to decide whether an architectural decision should be documented here in this central section or whether you better document it locally (e.g. within the white box template of one building block).

Avoid redunda

[2021-02-16 11:56] UO266499 opened #27 "10. Quality Requirements"
This section contains all quality requirements as quality tree with scenarios. The most important ones have already been described in section 1.2. (quality goals)

Here you can also capture quality requirements with lesser priority, which will not create high risks when they are not fully achieved.

[2021-02-16 11:57] UO266499 opened #28 "12. Glossary"
The most important domain and technical terms that your stakeholders use when discussing the system.
You can also see the glossary as source for translations if you work in multi-language teams.

[2021-02-16 13:14] ghost commented on #7
In today's lab, the teacher reviewed the current documentation of the project and he told us that heroku itself is not a technical constraint, but the deployment in a cloud service (like heroku).

[2021-02-16 16:02] DaniBAIG7 opened #30 "Technical context diagram: Do you like it?"
I built a diagram in order to show the Technical Context of the application. Do you think it covers the technical aspects so far?
![image](https://user-images.githubusercontent.com/60442791/108085473-a95f1f00-7075-11eb-9006-34b0aeae6c19.png)

I did it basing on this piece of documentation (although mine is way less detailed):
[https://biking.michael-simons.eu/docs/index.html#_technical_context](ur

[2021-02-16 17:55] uo269412 commented on #30
I think that so far it might work (given that it's a prototype and we have the option to extend it later as we see how the application should work)

[2021-02-16 18:20] UO266499 commented on #30
I agree with @uo269412,it's also easy to understand, which is specially useful now that we haven't gone in depth. We can add to it later on once we know the finer details.

[2021-02-18 08:35] uo269412 commented on #27
These are some of the quality changes that we thought about and we are planning to add in the documentation:

- The application can create a route from a set of different locations. This route may have a description stablishing what is its main appeal and the locations that should be visited.
- A planification feature, where you can stablish that you're going to visit a location today, so your fri

[2021-02-18 09:00] uo269412 commented on #28
Just updated so it contains terms that appear in part 1 (and probably in many more parts, so be sure to check it out)

[2021-02-20 15:59] albertodb99 commented on #30
I agree too! It is very easy to understand the context, at least for me, and I am sure that it will be easy to maintain while we extend the application

[2021-02-20 16:31] albertodb99 commented on #10
I want to add this link: https://plantuml.com/es/sequence-diagram , which is concrete for sequence diagram, whose syntax differ a little with the diagram of the first post.

[2021-02-21 15:36] Rcenador commented on #20
Have you tried adding @startuml and @enduml at the beginning and end of your PlantUML code?

In your case it would look something like:

@startuml
:User1: --> [User1's Pod]: interacts
[User1's Pod] --> [Main App]: Send location
[Main App] --> [User1's Pod]: Manages
:User2: --> [User2's Pod]: interacts
[User2's Pod] - [User1's Pod]: send notifications
[User2's Pod] --> [Main App]: Send location
[Ma

[2021-02-21 15:48] UO266499 commented on #20
Thanks for the insight we wil take it into account for further development, however, we forgot to close the issue a couple days ago after Pablo helped us resolve the issue. Thanks for reviewing our work!

[2021-02-21 15:49] #20 closed, assigned to pglez82, luisfesu, uo266536, uo269412, UO266499

[2021-02-21 16:08] DaniBAIG7 opened #41 "Contributions Daniel Barrientos final delivery"
- Worked together with @uo266536 in the development of part 3 of the documentation (System Scope and Context), issue #8
- Wrote part 4 of the documentation (Solution Strategy), issue #21
- Wrote the PlantUML diagram of part 7 of the documentation (Deployment View), issue #24

[2021-02-21 16:13] UO266499 opened #42 "Contributions Alexander López"
Worked together with @uo269412 in documenting:
- Issue #6 : Introduction and Goals
- Issue #25 : Cross-cuting concepts
- Issue #27 : Quality Requirements
- Issue #24 : Deployment View, organization

[2021-02-21 16:25] albertodb99 opened #43 "Contributions Alberto Díez final delivery"
- Worked together with @DaniBAIG7 in the development of part 3 of the documentation (System Scope and Context), issue #8
- Wrote part 6 of the documentation (Runtime VIew), issue #23
- Worked and discussed with all the partners part 7 of the documentation (Deployment View), issue #24

[2021-02-21 16:36] luisfesu opened #44 "Contributions Luis A. Fernández"
- Colaborate with @uo271913 on the creation of the section 2 of Documentation: Architecture Constraints, #7
 - Build the diagram of the overview system on section 5 of Documentation: Building Block view, #22
 - Work together with the teammates in the development of section 7 of the Documentation: Deployment View, #24

[2021-02-22 07:53] uo269412 opened #45 "Contributions Javier Carrillo final delivery"
Worked together with @uo266499 in documenting:

- Issue #6 : Introduction and Goals
- Issue #25 : Cross-cutting Concepts
- Issue #27 : Quality Requirements

Worked with everyone to document:

- Issue #24: Deployment View

Worked in Issue #28: Glossary, adding the terms related to the topics I took part in.

[2021-02-23 00:10] ghost opened #49 "Contributions Héctor Fernández final delivery"
Documentation 0.1:

2 - Architecture Constraints #7 (@luisfesu)
Improvement and extension.

7 - Deployment View #24 (all)
Discussion and development with all the team members involved.

9 - Design Decisions #26
Introduction and 3 ADRs.

12 - Glossary #28
Applying alphabetical order and adding the MongoDB term.

[2021-02-23 10:57] UO266499 opened #52 "Bug regarding deployment in Heroku"
Error when deploying the app in heroku regarding graphviz:

Error: Command failed: heroku container:push web --app radarinen1bwebapp --arg API_URI="https://radarinen1brestapi.herokuapp.com/api" › Warning: heroku update available from 7.47.12 to 7.47.13. The command '/bin/sh -c apt install graphviz' returned a non-zero code: 1 ▸ Error: docker build exited with Error: 1

[2021-02-23 11:00] uo269412 opened #53 "Error deploying the documentation"
This deployment is not working due to an error related to heroku. This is a fragment related to the error:

Run akhileshns/heroku-deploy@v3.8.9
Created and wrote to ~/.netrc
 ›   Warning: Our terms of service have changed:
 ›   https://dashboard.heroku.com/terms-of-service
heroku: Press any key to open up the browser to login or q to exit:  ›   Warning: heroku update available from 7.47.12 to 7.48

[2021-02-23 11:08] uo269412 commented on #6
### Revision of the documentation prototype

### _Regarding_ 1.1

The high level requirements should be represented in a different way, focusing more on them than on the different applications. (maybe using the tabular form that is in this same issue?)

### _Regarding_ 1.3

Add new stakeholder in the educational view -> Empathy

[2021-02-23 11:10] uo269412 commented on #7
### Revision of the documentation prototype

### _Regarding_ 2.2

Add new constraint -> Work remotely.

[2021-02-23 11:38] uo269412 commented on #8
### Revision of the documentation prototype

### _Regarding_ 3.1

Fixing the diagram issues and reestructure the diagram to descentralice the data.

### _Regarding_ 3.2

The represented diagram represents a deployment diagram.

[2021-02-23 11:39] uo269412 commented on #21
### Revision of the documentation prototype

### _Regarding_ 4.1

We should add alternatives, then explaining why are we picking that specific software instead of the others
Think about how to implement the mobile application (using react native, using an application (this allows that a service keeps sending data), hybrid application)

[2021-02-23 11:41] uo269412 commented on #22
### Revision of the documentation prototype

### _Regarding_ 5.1

Add a link from mobile application to web application (locations are stored in the web, not in the pod)
Allow the user to see the locations and delete the ones they don't want (from the web application)

[2021-02-23 11:43] uo269412 commented on #23
### Revision of the documentation prototype

### _Regarding_ 6

The diagram must be reestructured due to it being based around diagram 3 which also needs to be changed (user sends to server, server contains locations of different users, the friends of each user are in the pods, the server communicates with the pods to know which locations to retrieve) (this is just a possibility)

[2021-02-23 11:44] uo269412 opened #54 "Things to take into account (regarding the architecture of the system)"
These are some suggestions to work on made by the teacher:

- Getting locations from the user (React Native/Native Android)
- Getting friends from the user (Pod)
- Database and its schema
- Plot the locations into a map (Google Maps API)

[2021-02-23 11:54] uo269412 opened #55 "Researching Pods"
This issue will store helpful information about Pods, to ease the implementation in the application.

[2021-02-23 12:14] pglez82 commented on #53
This issue shouldn't be closed as it is not fixed yet.

[2021-02-23 12:39] pglez82 commented on #52
Duplicate of #53

[2021-02-23 12:40] pglez82 commented on #53
Fixed in 01d5b3ecc54355e7473d144b42783a33f3c0657a.
You can close this issue now and the duplicated one once you check that everything is correct.

[2021-02-23 14:50] #53 closed, assigned to pglez82

[2021-02-23 14:51] #52 closed, assigned to pglez82

[2021-02-23 16:42] DaniBAIG7 commented on #30
This issue is going to be closed since in the review of the documentation we discovered that it was not the kind of diagram expected to appear in the technical context. Furthermore, most documentations do not use diagrams to illustrate the technical context, so we will rely on the table to explain the technical concepts involved in the application.

[2021-02-23 16:42] #30 closed, assigned to pglez82, luisfesu, uo266536, uo269412, UO266499

[2021-02-23 22:56] ghost commented on #7
Done by @luisfesu.

[2021-02-25 08:47] uo269412 commented on #6
**This is the previous version of 1.1**

Two Software components have to be taken into account:

    . A Web application running on a server.

    Stores all data received from the application (stored in Pods).
    Minimum amount of information has to be stored.
    Is the one charge of storing, managing and visualizing locations among other administration options (such as monitor the status of th

[2021-03-02 11:55] DaniBAIG7 opened #62 "Mobile development subgroup"
This 3 person subgroup is in charge of developing an early stage of the mobile application.
On this first week we are not going to take into account accessing the database, we are going to define the main skeleton and interfaces (the starting point).

[2021-03-02 12:00] DaniBAIG7 opened #63 "Web development subgroup"
This 3 person subgroup is in charge of developing an early stage of the web application.
On this first week we are not going to take into account accessing the databases, we are going to define the main skeleton and interfaces (the starting point).

[2021-03-02 14:15] DaniBAIG7 opened #64 "Something strange happened when including the bootstrap dependency"
The console said something about a peer dependency. I didn't install those, so we should take this warning into account;  It could be the source of further errors.

![image](https://user-images.githubusercontent.com/60442791/109660903-a9791780-7b69-11eb-9f4f-0362c013588e.png)

[2021-03-02 14:19] pglez82 commented on #64
I wont worry to much about that. It seems to be an optional dependency.
Pablo

[2021-03-02 21:26] DaniBAIG7 opened #65 "Problem when compiling the react application (branch webapplication-developing-daniel)"
I found some code online to include Google Maps in react, so I tried copying it to include it in my code and adapt it to our necessities.
Problem is that although I think that I downloaded and installed the necessary dependencies properly, I get an error (at the end of the attached photo) that I can't manage to solve although I searched a lot on the web. This problem didn't happen on the default a

[2021-03-02 21:28] DaniBAIG7 commented on #65
Regarding the attached code, I have another question, because I don't understand something about it ([webpage where I extracted it from](https://www.mindbowser.com/react-google-map-with-a-custom-pin-marker/))
When declaring the Map component, the google attribute is being assigned some value stored in "this.props.google". Where are those properties stored? In the component superclass?

[2021-03-03 09:49] pglez82 commented on #65
Please Dani, push your code to the repo in a new branch so we can reproduce your error and fix it. Thanks!

[2021-03-05 18:55] DaniBAIG7 commented on #65
Sorry I didn't see the message... Is already on my personal branch, the one in the title, "webapplication-developing-daniel".
Just in case, I'm going to create another one.

[2021-03-05 18:57] DaniBAIG7 commented on #65
I just created it. It's called "issue-65-problem"

[2021-03-05 20:15] albertodb99 opened #66 "ADB problem when running npx react-native run-android"
When running npx react-native run-android I get the following error:
![image](https://user-images.githubusercontent.com/60233035/110168615-bad75380-7df7-11eb-835b-a7cb24a65a17.png)
My android_home path is configured correctly, and this is not corrected after trying to change it.

[2021-03-08 07:50] pglez82 commented on #66
Hi,

There is more to configure than the android_home variable. Check [here](https://stackoverflow.com/q/29391511/2828454).
After configuring the environment variables and setting the path accordingly, I was able to run without problems:

[code]

One last thing is that I think you need to have an emulator created, so the app can launch in this emulator.

Pablo

[2021-03-08 16:02] UO266499 commented on #65
Found the problem, when importing React, you typed:
import React, { Component } from 'React'
instead of:
import React, { Component } from 'react'

React is with lower case r.

[2021-03-08 19:15] DaniBAIG7 commented on #65
Thank you!

[2021-03-08 19:15] #65 closed, assigned to pglez82, luisfesu, DaniBAIG7, UO266499

[2021-03-09 15:32] uo269412 opened #67 "Researching expo"
These links may help us develop the mobile version, they contain information about APIs in expo:

- https://docs.expo.io/versions/latest/sdk/map-view/ - It will help us represent the map
- https://docs.expo.io/versions/v40.0.0/sdk/task-manager/ - This will probably be useful when we want to translate the location functionality into a service that keeps being executed
-  https://docs.expo.io/versio

[2021-03-09 15:54] uo269412 commented on #67
The task manager link looks like it contains an example regarding location so it might be very useful

[2021-03-09 16:29] DaniBAIG7 opened #68 "Problem with react-leaflet (branch-issue-68)"
We decided to change the API used for the maps. Instead of Google Maps, now we will try to use react-leaflet, which simplifies a lot  the task of adding PopUps to markers. The problem is that something is going wrong when executing the app.

![image](https://user-images.githubusercontent.com/60442791/110503241-47d22380-80fc-11eb-9522-102662a873c1.png)

It is a very strange error, and it's strange

[2021-03-09 19:07] pglez82 commented on #68
Hi,
I can not reproduce it. I get this.
![image](https://user-images.githubusercontent.com/10683040/110523910-06993e00-8113-11eb-905d-fdfe605274ba.png)

Any idea?
Pablo

[2021-03-09 19:10] UO266499 commented on #68
I was debugging the code and it appears to be due to the parseFloat(...) in the   const position = [parseFloat(this.latitude), parseFloat(this.longitude)];
Both of them return NaN instead of a value.

[2021-03-12 19:31] uo269412 opened #70 "Protoype of the mobile application"
Here's the first protoype of the mobile application. As it can be seen, the map takes almost all the screen, and when we click on markers we will be able to display very basic information about the user. The button that will stop sharing the location is located at the top right.

![NuevoDocumento 03-12-2021 18 09_1](https://user-images.githubusercontent.com/60443414/110988946-7ad11d00-8371-11eb-8b

[2021-03-13 13:54] ghost opened #71 "Mobile application deployment"
In the previous checkpoint, we were said that everything must be deployed, in Heroku for example. However, we do not know how the mobile application can be deployed. At this moment, it is published in Expo (https://expo.io/@uo266536/projects/asw-radarin_en1b), where it is possible to scan a QR code to load the project in your phone and see how it is working, but we are not sure if this is enough.

[2021-03-13 13:56] #64 closed, assigned to pglez82, luisfesu, uo266536, uo269412, UO266499

[2021-03-13 13:56] #66 closed, assigned to pglez82, luisfesu, DaniBAIG7, uo269412, UO266499

[2021-03-13 14:08] pglez82 commented on #66
@uo266536 can you tell us if that solved your problem or not? This way others can use this information.

Pablo

[2021-03-13 14:10] pglez82 commented on #71
Yes, it is enough. The mobile application with react native cannot be deployed to Heroku so using another way to publish it seems fine.

Pablo

[2021-03-14 19:12] DaniBAIG7 opened #75 "Problems with codacy"
Some members of the group (including myself) are having some trouble with Codacy when creating pull requests. In my case, this is the log of the error:
![image](https://user-images.githubusercontent.com/60442791/111080988-6a4fac80-8501-11eb-9192-71afd39bc0b1.png)
Since it says that the branch is not being analyzed, should we just leave that error and do the pull requests anyway?

[2021-03-14 19:16] luisfesu commented on #75
I have the same problem with Codacy. The errors seem to be related with line-endings:
![errores codacy](https://user-images.githubusercontent.com/58345609/111081130-15f8fc80-8502-11eb-9217-4175f16e817d.jpg)

This entry in the codacy documentation talks about it, but I can't find the solution:
[Codacy: error-line-endings](https://docs.codacy.com/faq/troubleshooting/error-line-endings/)

[2021-03-15 08:09] pglez82 commented on #75
Codacy is a tool for the static analysis of the code. Currently is configured to analyze only the master branch. So the warning is normal. In session 8 (next week) we are going to talk a little bit more about these tools.

If you want to configure codacy, you should be able to login into codacy.com using your github account. There you should be able to find the repository and configure how codacy

[2021-03-15 23:20] DaniBAIG7 commented on #68
Alex managed to solve it (it was difficult, but it's done)

[2021-03-15 23:20] #68 closed, assigned to pglez82, luisfesu, DaniBAIG7, UO266499

[2021-03-16 10:28] #71 closed, assigned to pglez82, luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-03-17 09:58] #75 closed, assigned to pglez82, luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-03-23 12:12] uo269412 opened #82 "Problem related to logging in Mongo DB"
We are having an issue trying to log into the Mongo DB web page since it asks for an authentication.  Since we don't have access to the mobile linked, we're stucked here. Help is appreciated.

![image](https://user-images.githubusercontent.com/60443414/112144282-482ced00-8bd9-11eb-8e33-1b11def681f9.png)

[2021-03-23 12:26] pglez82 commented on #82
I really do not know what is the best solution here. I think I have created the account using my phone so maybe the code gets to me. I can send it to you by private message in teams or maybe I can add your phone number to the account so the code gets to you directly. If you decide for that option, talk to me in teams and we can try to fix it.

[2021-03-23 18:02] #82 closed, assigned to pglez82

[2021-03-29 18:39] DaniBAIG7 opened #83 "Problem with technology "query-idflex""
The team that works on the web application is having trouble with obtaining information from the POD's. More precisely, with the "query-idflex" technology. We don't know why, but the expressions used in the related [GitHub page documentation](https://solid.github.io/query-ldflex/#usage) seem to not work, and we don't know which alternative we could choose in order to extract information from a POD

[2021-04-01 11:29] pglez82 commented on #83
Daniel, check the issue that I referenced above. Probably it will help you out solving your problem.

[2021-04-01 14:38] DaniBAIG7 commented on #83
@pglez82 In the end I decided to use the inrupt API, although it was difficult, I think that with the help of a member of another group I managed to solve it

[2021-04-01 17:02] DaniBAIG7 opened #84 "IMPORTANT: We are no longer developing a mobile app on React Native"
We made a huge architectural decision. As we were having a hard time adapting the SOLID interaction to React Native, we decided to build an special app developed on React that will be accessible by mobile phones via Internet.

[2021-04-02 15:44] DaniBAIG7 opened #85 "Problem compiling react application"
We had a problem trying to integrate the POD reading technology to the application. React won't compile it since it detects too many hooks on a certain point of the app, i think. The exact error is the following:
![image](https://user-images.githubusercontent.com/60442791/113430667-d293fe80-93da-11eb-8eba-c689b340014d.png)
The code with the failure is in the branch [webapplication-developing-issue

[2021-04-03 18:34] UO266499 commented on #85
Found something that might be helpful, when inspecting the errors in the browser, i find thos warning:

Warning: React has detected a change in the order of Hooks called by App. This will lead to bugs and errors if not fixed. For more information, read the Rules of Hooks: https://reactjs.org/link/rules-of-hooks

   Previous render            Next render
   -----------------------------------------

[2021-04-03 18:35] UO266499 commented on #85
Found something that might be helpful, when inspecting the errors in the browser, i find thos warning:

Warning: React has detected a change in the order of Hooks called by App. This will lead to bugs and errors if not fixed. For more information, read the Rules of Hooks: https://reactjs.org/link/rules-of-hooks
Previous render  -> Next render
    useState ->useState
    useContext ->useContext

[2021-04-04 07:39] pglez82 commented on #85
Could this be helpful?: https://stackoverflow.com/questions/57397395/react-has-detected-a-change-in-the-order-of-hooks-but-hooks-seem-to-be-invoked

[2021-04-06 14:06] DaniBAIG7 commented on #85
I solved it with that, thank you. I leave the issue open since Solid PODs are still giving some problems and I want to take care of them in the branch assigned to this issue

[2021-04-06 17:19] #85 closed, assigned to pglez82, luisfesu, UO266499

[2021-04-06 17:33] DaniBAIG7 opened #90 "Cannot read from PODs in the web application"
Although we managed to write to the different PODs in the mobile app, we still cannot read that information from the POD. We tried to follow the tutorial in the webpage https://www.freecodecamp.org/news/create-a-solid-to-do-app-with-react/ , which is pretty good, but we didn't manage to get the "thing" (with the getThing(...) function)
![Code image](https://user-images.githubusercontent.com/604427

[2021-04-08 15:02] albertodb99 commented on #90
https://solid.github.io/developers/tutorials/getting-started this could also be really helpful, however, I am diving into it today and try to solve it.

[2021-04-08 15:04] luisfesu commented on #90
I have exactly the same problem. I've been making some atempts to conect in this way to Solid to retrieve information from the POD's but apparently, the thing const remains as a null object after invoking the getThing() function.
![problema solid](https://user-images.githubusercontent.com/58345609/114050340-77f01c00-988c-11eb-8c87-11dcaf29b9b2.jpg)
 function.

[2021-04-08 15:35] DaniBAIG7 commented on #90
We already know why: We are using useEffect so that the locations are obtained when the component is rendered. The thing is that the component has not been rendered when we try to invoke getLocations:
![image](https://user-images.githubusercontent.com/60442791/114054835-7cb6cf00-9890-11eb-9171-6970b50f669d.png)
We are just passing the getLocations as props, but this means that useEffect has not be

[2021-04-08 16:09] albertodb99 commented on #90
@pglez82 can you bring us some light?

[2021-04-08 16:11] UO266499 commented on #90
I'll give it another look, maybe change the approach to retreiving the info and ill reply as soon as i can make it work

[2021-04-08 16:13] albertodb99 commented on #90
The most recent changes are in the branch [webapplication--Alberto-location-and-friends](https://github.com/Arquisoft/radarin_en1b/tree/webapplication--Alberto-location-and-friends)

[2021-04-08 17:31] pglez82 commented on #90
I don't know if you tried it but usually we use the useEffect to make any of the api calls that we may need before the component renders and we store the result in the state. Then you can pass a prop using the state variable that have been populated with the useEffect hook.

I really do not know if thats the problem or not (didn't check the code). If you want me to look at the code let me know the

[2021-04-10 08:12] DaniBAIG7 commented on #90
Yes, it is on the branch [webapplication-developing-issue-85](https://github.com/Arquisoft/radarin_en1b/tree/webapplication-developing-issue-85), in the file utils/GetLocations.js

[2021-04-10 11:40] DaniBAIG7 commented on #90
Now the problem has changed a bit, we solved the null stuff, but when we are trying to read from the POD we get an empty string with no location (although there is one on my POD).
If you want to add a location with our schema you can use the form in the branch [mobile-application-leafletlocations2](https://github.com/Arquisoft/radarin_en1b/tree/mobile-application-leafletlocations2) .
The problem i

[2021-04-10 11:50] DaniBAIG7 commented on #90
Solved, we were able to solve it using a method from the inrupt library: getStringNoLocaleAll(...)

[2021-04-10 11:50] #90 closed, assigned to pglez82, luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-11 08:26] #83 closed, assigned to pglez82, luisfesu, UO266499

[2021-04-12 23:17] #63 closed, assigned to luisfesu, DaniBAIG7, UO266499

[2021-04-12 23:17] #62 closed, assigned to uo266536, uo269412

[2021-04-12 23:19] #67 closed, assigned to uo266536, uo269412

[2021-04-13 00:54] ghost opened #108 "Problem connecting mobile app with mongo db"
We are having some troubles to make the connection between the mobile application and the MongoDB from MongoDB Atlas, failing to fetch we think due to the api end point.
![image](https://user-images.githubusercontent.com/60443508/114480547-07862980-9c03-11eb-92f6-37f1ebcb9b62.png)

[2021-04-13 06:21] pglez82 commented on #108
Have you tested if the endpoint works? You can test that using a program like [postman](https://www.postman.com/product/api-client/). Make sure that the api works and then that code should work (it is very similar to the one that is in radarin_0 and that one is working).

If the error is in heroku you can login into mongo atlas with the same username and password than heroku to see what is going o

[2021-04-13 07:27] albertodb99 commented on #108
In local it works, the problem come when it is online, that an error showing that http or https is needed in the header of the request.

[2021-04-13 07:34] albertodb99 commented on #108
![image](https://user-images.githubusercontent.com/60233035/114514365-7a12fb80-9c3b-11eb-82f3-a4bc5bddd1b5.png)

[2021-04-13 07:52] albertodb99 commented on #43
For the second delivery of the application I:

- Corrected some points of the documentation after the architectural changes performed.
- Added to the applications friends' functionality with SOLID.
- Deploys of the applications in Heroku.
- Created a very first nav for the app.
- Created a nav for the React Native application.
- Research about Angular for the mobile native application and SOLID.
-

[2021-04-13 08:40] uo269412 commented on #45
For the second delivery of the application I:

- Created a login screen for the mobile application in Expo (discarded because we stopped using it).
- Researched information about how to implement the login in Expo.
- Researched Ionic, ending up with a preliminary version of the mobile application that was discarded.
- Corrected the documentation 3, 8 and 10 parts of the documentation after the arc

[2021-04-13 08:40] uo269412 commented on #45
For the second delivery of the application I:

- Created a login screen for the mobile application in Expo (deleted when Expo was discarded)
- Researched information about how to implement the login in Expo.
- Researched Ionic, ending up with a preliminary version. (deleted when cleaning the useless branches)
- Corrected the documentation 1, 8 and 10 parts of the documentation after the architectu

[2021-04-13 08:53] ghost commented on #49
Documentation 1.0 + Prototype 0.1/1.0:

- Helping to update the different points of the documentation
- First approach of the mobile app with React Native and Expo #62 #67 #84 (@uo266536 @uo269412)
- Development of the restapi and its tests 7c33d9d
- Addition of markers to the mobile app map using Solid Pods and MongoDB b812f94
- Correcting the problem to merge realeasing_branch into master e10d7f

[2021-04-13 09:10] luisfesu commented on #44
For the second delivery of the application:
- Integration of the different parts of the application 9a624565f676ca33aa1457dc5102e0d046030c93
- Creating the Log in for the Web application e0d00f476d3779f4dfe53aa3e75b5053147dd360
- Updating the documentation parts 5,  7 and 9. 24910a378c4b41378b3f72a70e8723101654c426 b68dd3859eb1b1c4f088bd650ab813ac8087bda8
- Revising that the parts of the docu are

[2021-04-13 09:18] UO266499 commented on #42
For the second delivery of the application I:

- Solved Issues #65 and #68 (@DaniBAIG7 ).

- Helped on Issues #85 and #90.

- Added the final navbar and its design.

- Created several views to make the app more intuitive (Welcome.js, AboutUs.js, NotLoggedIn.js, ...)

- Researched and did frontend for both webapp and mobileapplication (maintaining the same style but adapting both to computer and mo

[2021-04-13 09:22] DaniBAIG7 commented on #41
- Implemented the behaviour to add locations to the POD throughout the inrupt api. (c64829882412ee22006c6a774c035abd13810973)
- Helped @uo269412 @luisfesu with the location adding from a form in the mobile app.
- Implemented the behaviour to get locations from the POD throughout the inrupt api. (7484ba0d9f63756690a606a6b5fba4062e71ddd4)
- Parsed the locations got from the POD to added them to the

[2021-04-13 09:41] #70 closed, assigned to nobody

[2021-04-13 10:29] albertodb99 opened #112 "RestAPi deployment not working in heroku"
![image](https://user-images.githubusercontent.com/60233035/114538524-c5d19f00-9c53-11eb-8d05-c0c8878f6397.png)
Without doing nothing, the deployment of the RestAPI in Heroku stays the same, but the code in local works, so this error should not be happening... can someone help?

[2021-04-13 11:07] albertodb99 commented on #112
![image](https://user-images.githubusercontent.com/60233035/114543207-29aa9680-9c59-11eb-9fe7-834a8db52e4c.png)
After logging what it was receiving as mongo connection, this was obtained

[2021-04-13 11:09] albertodb99 commented on #112
But when trying to establish a mongo connection from atlas, this is our connection string:
![image](https://user-images.githubusercontent.com/60233035/114543390-6d050500-9c59-11eb-8313-4134091d0d43.png)
@pglez82 should we change the secret then?

[2021-04-13 11:13] pglez82 commented on #112
It doesn't make sense to me to change the secret if the database, mongo user and password didn't change. What I would do is change the connection string locally (replace mongodb://localhost:27017) to the one that you are logging to see if you get the same error locally. Then we can test things faster. If it also fails locally, find out the proper connection string and once it works locally against

[2021-04-13 11:18] albertodb99 commented on #112
There was a mistake with the password, it was changed yesterday, now it deploys correctly, and it works fine with our mobile application. Thanks Pablo! :)

[2021-04-13 11:18] #112 closed, assigned to pglez82, luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-17 13:41] #108 closed, assigned to pglez82, luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-17 17:27] DaniBAIG7 opened #114 "We are not capable of updating a component in React"
Javier and I have been working on removing locations from the POD. We managed to do it properly, but we are not capable of refreshing the page to make the removed marker disappear. We tried (inside webapp/src/utils/solidAccessing/RemoveLocations.js) to refresh the page with `window.location.reload()`, but it doesn't save the session, so the user has to log in again. We also tried to modify some va

[2021-04-17 19:31] pglez82 commented on #114
We never do a window.location.reload in react. You have to work with the state. What I would do is, in the Map component, instead of calling removeUserLocation directly in the onclick, create a function where you call this function but also you refresh the markers array just after deletion (maybe retrieving them again from the pod?). As you are using redux and I never used it, I'm not sure of the

[2021-04-20 17:52] uo269412 commented on #114
@DaniBAIG7 and I finally managed to do it. It was key to refresh the state in Redux, this solved the issue and the map now renders accordingly when we remove a location. Thanks for the advices today!

[2021-04-20 17:52] #114 closed, assigned to pglez82, uo269412

[2021-04-20 18:08] DaniBAIG7 opened #126 "Testing the SOLID login"
We are having trouble trying to check the login with SOLID. Since our web application redirects us to the Inrupt login, we don't know how this could be tested in our unitary tests.

[2021-04-21 20:27] #6 closed, assigned to uo269412, UO266499

[2021-04-21 20:27] #7 closed, assigned to luisfesu

[2021-04-21 20:27] #8 closed, assigned to uo266536, DaniBAIG7

[2021-04-21 20:27] #21 closed, assigned to uo266536, DaniBAIG7

[2021-04-21 20:27] #22 closed, assigned to luisfesu

[2021-04-21 20:27] #23 closed, assigned to uo266536, DaniBAIG7

[2021-04-21 20:27] #24 closed, assigned to luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-21 20:27] #25 closed, assigned to uo269412, UO266499

[2021-04-21 20:27] #26 closed, assigned to luisfesu

[2021-04-21 20:27] #27 closed, assigned to uo269412, UO266499

[2021-04-21 20:27] #28 closed, assigned to luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-21 20:28] #10 closed, assigned to luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-21 20:28] #11 closed, assigned to luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-21 20:29] #13 closed, assigned to luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-22 06:45] pglez82 commented on #126
@DaniBAIG7 , the idea here in unitary tests, it to mock the api calls (the same with solid), so we simulate the return values of those calls and we can execute the unitary tests without problems. There is a lot of information on the Internet about mocking api calls using jest. For instance, in the official documentation: https://jestjs.io/docs/mock-functions#mocking-modules

[2021-04-25 21:16] UO266499 opened #129 "New errors found when testing"
We have two new errors:
- First Error:
~When using the application as a new users, the file favlocations.ttl is created, but empty.~
~getThing() doesn't return the thing associated with the file from the POD correctly.
When trying to access the map or add new locations the error Expected a thing but received null appears.~

~- Second Error:
When Loading the map, this loads even before the reply fr

[2021-04-25 21:16] UO266499 commented on #129
Im currently working on the map loading situation, and will inform if anything pops up.

[2021-04-25 21:22] UO266499 commented on #129
In regards to the Map loading issue, when adding the friend obtaining part, the condition to wait for geolocation was removed and not added back. I changing the map and seeing if its fixed.

[2021-04-25 21:25] UO266499 commented on #129
The map loading error has been fixed, all it needed was a hook checking that the geolaction was accepted!
Im crossing the error so nobody gets confused.

[2021-04-26 17:58] UO266499 opened #134 "Write more tests"
- Test done:
Index.js
MenuItems.js
AboutUs.js
App.js
LoginForm.js
Navbar.js
NotLoggedIn.js
Welcome.js
friendsRedux/friendsSlice.js
Login.js
Notification.js
ManageFriends.js
Map.js
GetFriendsFromPod.js

- Tests that need revision:
reportWebVitals.js (dont think it will be possible to improve)
RemoveLocations.js
GetUserLocations.js
getLocationsSlice.js

[2021-04-26 17:59] UO266499 commented on #134
For now, we are on a 28.25% Code Coverage, we should reach 60% if we can get to accept the geolocation and add missing tests

[2021-04-26 18:01] UO266499 commented on #134
Preferably to be done on the code-refactor branch! We should also refactor classes, as we have loads of Components on a class.

[2021-04-26 18:03] UO266499 commented on #134
Our main target should be utils folder and Map.js

[2021-04-26 19:07] UO266499 commented on #134
Code cov is now 32% !!!

[2021-04-27 09:27] DaniBAIG7 commented on #129
Updates on the big error:

It is kinda solved but a new, worse error arised. This has to do with the getThing method in the inrupt API. We are currently using it as `getThing(<resource associated with the POD file URL>, <URLof the file in the POD whose thing we want to obtain>)` (take in count that the resource was correctly retrieved earlier). This getThing seems to return a null value. This migh

[2021-04-27 11:05] DaniBAIG7 commented on #129
Solved the second problem of the POD Thing!!

Problem was that texts are treated as things when we directly access some POD file. Thus we must access them with the getThingAll method and then obtain their String with getThingNoLocale(). Before, we were trying to get an individual Thing of the favlocations.ttl and access its texts.
This is the code:
![image](https://user-images.githubusercontent.co

[2021-04-28 03:12] UO266499 commented on #134
We expected 60% and are now on 72% after the last merge of a non-test branch !!!

[2021-04-28 20:06] #129 closed, assigned to labra, pglez82, luisfesu, uo266536, DaniBAIG7, uo269412

[2021-04-28 20:06] #134 closed, assigned to luisfesu, uo266536, DaniBAIG7, uo269412

[2021-04-28 20:06] #126 closed, assigned to pglez82, luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-28 20:06] #84 closed, assigned to pglez82, luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-28 20:06] #55 closed, assigned to nobody

[2021-04-28 20:06] #9 closed, assigned to luisfesu, uo266536, DaniBAIG7, uo269412, UO266499

[2021-04-28 20:06] #54 closed, assigned to nobody

[2021-05-03 14:58] DaniBAIG7 commented on #41
-  Solved a huge bug regarding the proper creation of a file in the POD when a user with an empty POD accesed the app for the first time. Solving this involved changes on the Adding, Getting, and Removing locations from the POD functionalities, as we had to manage POD informations in a very different way.
-  Helped a bit with the presentation
-  Implemented with @uo269412  the new functionality th

[2021-05-03 20:29] uo269412 commented on #45
- Implemented with @DaniBAIG7 the new functionality that allows users to remove their favourite locations dfbe4500d44a8cce1d18b2e76d5446adc410edb3
- Added updated information in the documentation 28ee2136376d9ebd067510c857bf269df5c8a173
- Designed the presentation and wrote the supporting material for it

[2021-05-03 22:43] albertodb99 commented on #43
- Added a view in Web App to manage friends.
- Updated several parts of the documentation (Parts 3, 6 and 9). bd6d9f956feeb5c0a89f25a50c76fd2bc1148654
- Development of loading tests using Gatling. 9624d29bf36c9ce94ee402b503736e3ab8b6169c
- Recorded the demo video of both mobile and webapp with @DaniBAIG7 (also with the help of the rest of the group).

[2021-05-04 01:28] UO266499 commented on #42
For the final presentation of the application I:
  - Updated both UI's of Webapp and Mobile.
  - Did unitary tests #134.
  - Checked both applications to improve code quality.
  - Refactor of Map, Notification, loading screens and utils.
  - Removing unnecessary methods / css styles.
  - Fixed the problem of the map loading before geolocation was accepted #129.
  - Added to the documentation.
  -

[2021-05-04 04:35] ghost commented on #49
Documentation 1.1 + Prototype 1.1:

- Fixing and improvement of the get position from store location
- Modification of maps messages and apps texts in general ac06cc9
- Considering the situation if a user is not registered in Radarin and he/she does not have a favlocations.ttl file (@DaniBAIG7)
- Creation of more restapi methods with their associated new tests ac46a0e
- Admin role and managing of

[2021-05-05 08:31] pglez82 commented on #44
I am missing the contributions for the final delivery @luisfesu

[2021-05-05 15:18] luisfesu commented on #44
- Creating a new Login with several options a504785ce7d5dd96625b7708c54ba754ab5575e1
 - Revising and updating documentation  163a7f7d6367688ea633300fe5033c22ff36d93c 259351d48f80c74a1c70ac8059771989d83d5f30